
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.gallery-item {
    list-style: none;
}

.gallery-image {
    max-width: 360px;
    height: 100%;
    object-fit: cover;
}

.gallery-image:hover {
    transform: scale(1.05);
}
